* {
    margin: 0px;
    padding: 0px;
    font-family: SansSerif, "Microsoft Sans Serif", Abel;
    outline: 0px;
}

a, a:visited {
    color: white;
    text-decoration: none;
    font-family: Abel;
}

#background_screen {
    position: fixed;
    background-image: url("../../images/img-0002-1.png");
    width: 100%;
    height: 100%;/*
    -moz-filter: brightness(60%);
    -webkit-filter: brightness(60%);
    filter: brightness(60%);*/
    z-index: 1;
}

#challenge {
    position: absolute;
    top: 22%;
    left: 20%;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Abel";
    color: #dedede;
    width: 600px;
    text-shadow: 0px 0px 0.4em #000000;
    z-index: 2;
}

#welcome_user {
    color: white;
    font-family: Abel;
    width: 250px;
    text-align: center;
}

#login_window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    padding: 30px;
    background-color: rgba(37, 37, 37, 0.6);
    border: solid 1px;
    border-color: #ffffff;
    visibility: hidden;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    z-index: 980;
}

#login_window input {
    width: 100%;
    font-size: 25px;
    font-family: Abel;
}

#login_window button {
    font-size: 30px;
    font-family: Abel;
    width: 49%;
}

#login_window table {
    width: 460px;
    border-collapse: collapse;
    border-spacing: 0px;
}

#login_window td {
    text-align: right;
    color: white;
    font-family: Abel;
    font-size: 30px;
    height: 50px;
    vertical-align: middle;
}

#monitor {
    position: fixed;
    bottom: -50px;
    left: 50%;
    height: 180px;
    width: 500px;
    transform: translate(-50%, -50%);
    border-spacing: 10px;
    border-collapse: separate;
    z-index: 5;
}

#monitor table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#monitor_loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    z-index: 6;
}

#monitor_loading img {
    position: relative;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#numcategories {
    border: 3px #640000 dotted;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#numquestions {
    border: 3px #006400 dotted;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#nummembers {
    border: 3px #000064 dotted;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.monitor_text {
    margin-top: 38px;
    font-size: 50px;
    font-family: Abel;
}

.monitor_subtext {
    margin-top: -10px;
    font-size: 20px;
    font-family: Abel;
}

#numcategories_text_block, #numquestions_text_block, #nummembers_text_block {
    visibility: hidden;
}

#starttest {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    text-align: center;
    z-index: 960;
}

#starttest img {
    width: 100px;
    border: none;
}

#starttest div {
    position: relative;
    width: 250px;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 1px 1px 20px #ffffff;
    font-family: Abel;
}

@-webkit-keyframes monanipopup {
    from {
        opacity: 0;
        transform: translate(0px, 20%);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes monanipopup {
    from {
        opacity: 0;
        transform: translate(0px, 20%);
    }
    to {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}